In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob

In [11]:
dataFiles = glob.glob("dati/*.csv")

In [12]:
file = dataFiles[0]
pd.read_csv(file)

       1 -11.0576 -8.75608 0 0 36.4054 38.707 -47.463 -47.463
0       2 -9.68519 -12.0477 1.37241 3.29158 43.5374 36...
1       3 -9.93772 -10.932 1.1761 3.11645 37.3035 39.0...
2       4 -10.064 -10.3742 1.04174 2.86664 37.3035 39....
3       5 -10.1397 -10.0395 0.944002 2.64994 37.3035 3...
4       6 -10.1902 -9.8164 0.869121 2.46997 37.3035 39...
...                                                   ...
197993  197995 -13.1493 -13.526 4.99563 17.177 37.298 ...
197994  197996 -13.1493 -13.526 4.99562 17.177 37.298 ...
197995  197997 -13.1493 -13.526 4.99561 17.1769 37.298...
197996  197998 -13.1493 -13.526 4.9956 17.1769 37.298 ...
197997  197999 -13.1493 -13.526 4.99562 17.1768 41.026...

[197998 rows x 1 columns]